## Covariance And Correlation

In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [3]:
df  # we can't implement covariance on categorical data types like Country here

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [6]:
# Step 1: Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Step 2: Filter out categorical columns
continuous_columns = df.select_dtypes(exclude=['object'])

# Step 3: Calculate covariance and correlation
covariance_matrix = continuous_columns.cov()
correlation_matrix = continuous_columns.corr()

# Print covariance and correlation matrices
print("Covariance Matrix:")
print(covariance_matrix)

print("\nCorrelation Matrix:")
print(correlation_matrix)

Covariance Matrix:
                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

Correlation Matrix:
                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [9]:
##Pearson correlation coefficient

# Step 1: Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Step 2: Filter out categorical columns
continuous_columns = df.select_dtypes(exclude=['object'])

# Step 3: Calculate correlation
correlation_matrix = continuous_columns.corr(method='pearson')

print("\nCorrelation Matrix:")
print(correlation_matrix)

Correlation Matrix:
                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [10]:
##Spearman correlation coefficient

# Step 1: Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Step 2: Filter out categorical columns
continuous_columns = df.select_dtypes(exclude=['object'])

# Step 3: Calculate correlation
correlation_matrix = continuous_columns.corr(method='spearman')

print("\nCorrelation Matrix:")
print(correlation_matrix)

Correlation Matrix:
                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [45]:
df2=sns.load_dataset('flights')
df2.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [25]:
df2.shape

(144, 3)

In [56]:
# Step 1: Identify categorical columns
categorical_columns = df2.select_dtypes(include=['object', 'category']).columns

# Step 2: Filter out categorical columns
continuous_columns = df2.select_dtypes(include=['int'])

# Step 3: Calculate covariance and correlation
covariance_matrix = continuous_columns.cov()
correlation_matrix = continuous_columns.corr()

# Print covariance and correlation matrices
print("Covariance Matrix:")
print(covariance_matrix)

print("\nCorrelation Matrix:")
print(correlation_matrix)

Covariance Matrix:
                  year    passengers
year         12.000000    383.087413
passengers  383.087413  14391.917201

Correlation Matrix:
                year  passengers
year        1.000000    0.921824
passengers  0.921824    1.000000

In [57]:
df3=sns.load_dataset('tips')
df3.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [59]:
# Step 1: Identify categorical columns
categorical_columns = df3.select_dtypes(include=['object', 'category']).columns

# Step 2: Filter out categorical columns
continuous_columns = df3.select_dtypes(include=['int', 'float'])

# Step 3: Calculate covariance and correlation
covariance_matrix = continuous_columns.cov()
correlation_matrix = continuous_columns.corr()

# Print covariance and correlation matrices
print("Covariance Matrix:")
print(covariance_matrix)

print("\nCorrelation Matrix:")
print(correlation_matrix)

Covariance Matrix:
            total_bill       tip      size
total_bill   79.252939  8.323502  5.065983
tip           8.323502  1.914455  0.643906
size          5.065983  0.643906  0.904591

Correlation Matrix:
            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000