# Nominal/ OHE Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [21]:
# create a sample dataframe with a categorical variable
df=pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [22]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [23]:
## create an instance of one hot encoder
encoder=OneHotEncoder()

In [24]:
encoder.fit_transform(df[['color']])

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [25]:
encoder.fit_transform(df[['color']]).toarray()   # sort first alphabetically -> blue, green,red

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [26]:
## create an instance of one hot encoder
encoder=OneHotEncoder()

In [27]:
# fit the encoder to the dataframe and  transform the categorical variable
encoded=encoder.fit_transform(df[['color']])

In [28]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [34]:
import pandas as pd
encoded_df= pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out())

In [30]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [35]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [36]:
pd.concat([df,encoded_df], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [37]:
import seaborn as sns

### Apply OHE on tips dataset

In [38]:
df=sns.load_dataset('tips')